<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('blocks/header') -%>
    <h1>User: <%= username %></h1>
    <% if(username.toLowerCase() == 'john') { %>
    <p>test</p>
    <ul>
        <% hobbies.forEach((el) => { %>
            <li> <%= el %> </li>
        <% }) %>
        
    </ul>
    <% } %>


</body>
</html>