<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Main</a>
        <a href="/about">About us</a>
    </nav>

    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="username here">
        <button type="submit">Search</button>
    </form>
</header>
